@font-face {
  font-family: "Nuninto-Bold";
  src: url("../public/fonts/Nunito-Bold.ttf");
}

@font-face {
  font-family: "Nuninto-Semi";
  src: url("../public/fonts/Nunito-SemiBold.ttf");
}

@font-face {
  font-family: "Nuninto";
  src: url("../public/fonts/Nunito-Regular.ttf");
}

.main {
  width: 100vw;
  height: 100%;
 
}

.form {
  height: 100vh;
  overflow-y: hidden;
}

.businessDetails {
  padding: 4rem 2rem 0rem 2rem;

}

.businessDetails > h1 {
  font-family: "Nuninto-Bold";
  font-size: 1.2rem;
}

.businessDetails > h3 {
  font-family: "Nuninto-Semi";
  font-size: 1rem;
  color: #818080;
}


.row1{
  margin: 2rem 0rem;
}
.row1 > input{
  width: 14rem;
  height: 2rem;
  padding: 0.25rem 0.75rem;
  border-radius: 0.625rem;
  border: 1px solid #b7b7b7;
  font-family: "Nuninto";
  margin-right: 1.3rem;
}

.row {
  margin: 2rem 0rem;
}

.row > input {
  width: 15rem;
  height: 2rem;
  padding: 0.25rem 0.75rem;
  border-radius: 0.625rem;
  border: 1px solid #b7b7b7;
  font-family: "Nuninto";
  margin-right: 2rem;
}

.developerDetails {
  padding: 4rem 2rem 0rem 2rem;
}
.developerDetails > h1 {
  font-family: "Nuninto-Bold";
  font-size: 1.2rem;
}

.btnfullFld {
  text-decoration: none;
}
.btnfullFld > button {
  width: 10rem;
  height: 2.5rem;
  border-radius: 0.625rem;
  background: #8d74cc;
  color: #000000;
  font-family: "Nuninto-Bold";
  text-transform: capitalize;
  border: none;
  margin-left: 40%;
}

.btnfullFld > button:hover {
  border: 2px solid #8d74cc;
  background: #fff;
}
